h1{
    color :  rgb(0, 106, 255);
}

/* property: value */

#home-intro{
    text-align :center;

    /* border: 3px;
    border-color : black;
    border-style: solid; */

    border:3px solid rgb(2, 46, 83);
    /* background-color: rgb(137, 137, 137); */
}

#home-intro:hover{
    background-color: rgb(207, 207, 207);
}


#p2{
    color: blueviolet;
}

#nav{
    text-align: center ;
    background-color: rgb(2, 46, 83);
    height: 30px;
    padding: 5px;
    margin-bottom: 5px;
}

#nav a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
                 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px 5px;
    text-decoration: none;
    color: rgb(204, 10, 252);
}

#card{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

img{
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
}

#card-name{
    text-align: center;
}

#card-gender{
    text-align: center;
}

#action{
    text-align: center;
}